.container {
    width: 500px;
    height: 550px;
    margin: auto;
    margin-top: 40px;
    border-radius: 14px;
    background-image: linear-gradient(rgb(4, 4, 109), rgb(17, 17, 252));

}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 40px;
}

.top-bar input {
    display: flex;
    outline: none;
    border: none;
    width: 320px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 400;
    font-size: 20px;
    color: grey;
    
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 40px;
}

.weather-image {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    margin-top: 10px;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.data-container {
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 15px;

}

.data {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 80px;
}